<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <section>
        <a href="/comments">All comments</a>

        <h1> <%= foundComment.id%></h1>
        <h2> <%= foundComment.username%></h2>
        <p> <%= foundComment.comment%></p>


    </section>
    
</body>
</html>