<%- include('../partials/header')%>

    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<!-- header ends here -->


<div class="container">
    <div class="row">

        <div class="col-lg-3">
            
        </div>
        
        <div class="col-lg-6 mt-4">
                <h1 class="text-center">Sign-up Page</h1>
                <div class="mb-3">
                    <%if(message && message.length){%>
                    <p><%= message %></p>
                    <%}%>
                </div>

                <form action="/register" method="POST">
                    <div class="mb-3 logincontainer">
                        <input type="text" class="form-control" name="firstname" id="" placeholder="firstname">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="lastname" id="" placeholder="lastname">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" name="email" id="" placeholder="email">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="username" id="" placeholder="username">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password" id="" placeholder="password">
                    </div>

                    <!-- //adding new -->
                    <div class="mb-3">
                        <p><a href="/login">Already have an account? Login here</a></p>
                    </div>

                    <!-- adding boostrap btn -->
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>

            </div>

            <div class="col-lg-3">

            </div>
        </div>
    </div>
    
<%- include('../partials/footer')%>
