/* external styling */

/* div p{
    color: brown;
} */

/* section{
    border: 2px dotted green;
    background-color: lightcyan;
    border-radius: 10% ;
}

article{
    background-color: blueviolet;
}
p{
    text-transform: uppercase;
    text-decoration:line-through;
} */
/* section p{
    background-color: aquamarine;
} */


h1{
    color: aqua;
}