p{
    background-color: aqua;
    width: 70vw;
    margin: 30px;
    padding: 30px;
}

span{
    /* dispay property */
    display: inline-block;
    /* display: none; */
    /* visibility: hidden; */

    background-color: blue;
    width: 70vw;
    margin:50px;
    padding: 50px;
}