/* pseudo elements */

/* li{
    color:red
} */

/* li:nth-of-type(4){
    color:rgb(126, 128, 0);
    background-color: grey;
} */

/* li:nth-of-type(odd){
    border: 2px solid black;
    background-color: aqua;
} */

/* li:nth-of-type(even){
    border: 2px solid black;
    background-color: aqua;
} */

/* li:nth-of-type(3n+7){
    color: rgb(238, 43, 22);
    border: 2px dotted blue;
} */

/* li:first-child{
    background-color: aqua;
} */


/* h2::first-letter{
    font-size: 80px;
}


p::first-line{
    font-size: 30px;
}

li:nth-of-type(2)::after{
    content:"\2665";
}
li:nth-of-type(2)::before{
    content:"\2665";
} */






