div{
    width: 150px;
    height: 150px;
    border: 5px solid grey;
    margin: 20px;

}

section{
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction:column-reverse; */
    /* justify-content: center; */
    /* justify-content: flex-end; */
    flex-wrap: wrap;
    align-items:center;

}