
<%- include('./partials/header') %>  //ejs tags

    <h1>Hi i am a home ejs file</h1>
    <!-- <h2> my random number is <%= Math.floor(Math.random()*100) %></h2> -->
    <h2>my random num is <%= random %> </h2>


<%- include('./partials/footer') %>