/* section{
    font-size: 100px;
} */

/* % */
/* section div:nth-of-type(2){
    font-size: 20%;
} */

/* em */
/* li{
    font-size: 20em;
} */

/* rem */
/* body{
    font-size: 200px;

} */
/* ul{
    font-size: 2rem;

} */

/* vh and vw */
/* div:nth-of-type(1){
    background-color: aquamarine;
    height: 80vh;
    width: 70vw;
} */




